@model ErrorReporter.ViewModels.ErrorVM

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Error Reporter</title>
    <meta charset="utf-8" />
</head>
<body>
</body>
</html>