@model ErrorReporter.ViewModels.ErrorVM

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Error Reporter</title>
    <meta charset="utf-8" />
</head>
<body>
    <form action="/report" method="post">
        Name:
        <br />
        <select name="Name">
            <option value="">- Choose someone -</option>
            @foreach (var name in Model.Users)
                {
                    <option value="@name.Name">@name.Name</option>
                }            
        </select>
        <br />
        Manufacturer:
        <br />
        <input type="text" name="Manufacturer" value="">
        <br />
        Serial Number:
        <br />
        <input type="text" name="Serial Number" value="">
        <br />
        Description:
        <br />
        <input type="text" name="Manufacturer" value="">
        <br />
        <input type="submit" value="Report">
    </form>
</body>
</html>
